<div class="customer-box">
  <tr>
    <th>
      <div class="customer-deteil-box">
        <%= link_to(customer_path(customer.id), method: :get) do %>       
          <p>
            <%= customer.name %>
          </p>    
        <% end %>
      </div>
    </th>
    <td>
      <div class="customer-items-box">
        <% customer.items.each do |item|%>
          <div class="item-box">
            <%= link_to(item_path(item.id), method: :get) do %>
              <p><%= item.name %></p>
            <% end %>
            <div class="item-image-box">
              <%= image_tag(item.image.url) %>
            </div>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
</div>