<div class="customer-new-box">
  <h1>新規顧客登録</h1>
  <%= form_for(@customer) do |f| %>
    <div class="customer-form-body">
      <div class="customer-form-inner">
        <div>
          <div class="label-box">
            <p>
              <%= f.label :name do %>
                お名前
              <%end%>
            </p>
          </div>
          <%= f.text_field :name, placeholder: "例　山田太郎"%>
        </div>
        <div>
          <div class="label-box">
            <p>
              <%= f.label :name_kana do %>
                ふりがな
              <%end%>
            </p>
          </div>
          <%= f.text_field :name_kana, placeholder: "例　やまだたろう" %>
        </div>
        <div>
          <div class="label-box">
            <p>
              <%= f.label :nickname do%>
                ニックネーム
              <%end%>
            </p>
          </div>
          <%= f.text_field :nickname, placeholder: "例　やまちゃん" %>
        </div>
        <div>
          <div class="label-box">
            <p>
              <%= f.label :birthday do%>
                誕生日
              <%end%>
            </p>
          </div>
          <%= f.date_field :birthday %>
        </div>
        <div>
          <div class="label-box">
            <p>
              <%= f.label :phone do%>
                電話番号
              <%end%>
            </p>
          </div>
          <%= f.telephone_field	:phone, placeholder: "例　08012345678"%>
        </div>
        <div>
          <div class="label-box">
            <p>
              <%= f.label :email %>
            </p>
          </div>
          <%= f.email_field :email, placeholder: "例　yamada@ezweb.ne.jp" %>
        </div>
        <div>
          <div class="label-box textarea-label">
            <p>
              <%= f.label :text do%>
                備考欄
              <%end%>
            </p>
          </div>
          <%= f.text_area :text, placeholder: "お客様の特徴など自由にご記入下さい。"%>
        </div>
      </div>
    </div>
    <h1>購入商品登録</h1>
    <div class="items-field">
      <div class="item-field">
        <%= f.fields_for :items do |item| %>
          <%= render 'item_fields', f: item %>
        <% end %>
      </div>
      <div id="links", class="add-button">
        <%= link_to_add_association '商品を追加',f, :items %>
      </div>
    </div>
    <div class="create-button">
      <%= f.submit '保存'%>
    </div>
  <% end %>
</div>