<div class="customer-show">
  <h1>
    <%= @customer.name %>
    <span>
      様の詳細情報
    </span>
  </h1>
  <div class="customer-detail-box">
    <div class="customer-detail">
      <div>
        <div class="label-box">
          <p>
            ニックネーム：
          </p>
        </div>
        <div class="customer-detail-text">
          <p>
           <%= @customer.nickname %>
          </p>
        </div>
      </div>
      <div>
        <div class="label-box">
          <p>
            誕生日：
          </p>
        </div>
        <div class="customer-detail-text">
          <p>
           <%= @customer.birthday %>
          </p>
        </div>
      </div>
      <div>
        <div class="label-box">
          <p>
            電話番号：
          </p>
        </div>
        <div class="customer-detail-text">
          <p>
            <%= @customer.phone %>
          </p>
        </div>
      </div>
      <div>
        <div class="label-box">
          <p>
            メールアドレス：
          </p>
        </div>
        <div class="customer-detail-text">
          <p>
           <%= @customer.email %>
          </p>
        </div>
      </div>
      <div>
        <div class="label-box textarea-label">
          <p>
            備考欄：
          </p>
        </div>
        <div class="customer-detail-textarea">
          <p>
            <%= @customer.text %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <h2>ご購入商品</h2>
  <div class="customer-items">
    <% @customer.items.each do |item|%>
      <div class="item-box">
        <div class="item-image-box">
          <%= image_tag(item.image.url) %>
        </div>
        <p style="margin-bottom:0px;"><%= item.name %></p>
        <p style="margin-top:0px;"><span>¥</span><%= item.price %></p>
      </div>
    <% end %>
  </div>
 
  <div class="button-box">
    <%= link_to '編集', "/customers/#{@customer.id}/edit", method: :get %>
    <%= link_to '削除', "/customers/#{@customer.id}", method: :delete, data: { confirm: "【確認】このお客情報を削除してもよろしいですか？" } %>
  </div>
</div>