<div class="items-new-box">
  <h1>新規商品登録</h1>
  <%=form_for(@item) do |f| %>
    <div class="item-field">
      <div class="field-box">
        <div class="label-box">
          <p>
            <%= f.label :name do %>
              商品名
            <% end %>
          </p>
        </div>
        <%= f.text_field :name, placeholder: "例　ゴールドネックレス" %>
      </div>
      <div class="field-box">
        <div class="label-box">
          <p>
            <%= f.label :price do %>
              商品価格
            <% end %>
          </p>
        </div>
        <%= f.number_field :price , placeholder: "例　20000"%>
      </div>
      <div class="field-box">
        <div class="label-box">
          <p>
            <%= f.label :image do %>
              商品写真
            <% end %>
          </p>
        </div>
        <%= f.file_field :image %>
      </div>
      <div class="field-box">
        <div class="label-box textarea-label">
          <p>
            <%= f.label :text do %>
              商品説明
            <% end %>
          </p>
        </div>
        <%= f.text_area :text , placeholder: "例　商品の情報を自由に記載ください。"%>
      </div>
      <div class="create-button">
        <%= f.submit '保存' %>
      </div>
    </div>
  <% end%>
</div>